<div id="inside_container" class="inside_container">
<div class="form_header"><%= t :staff_member_list %></div>

  <table>
    <tr>
      <th>Name</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>Organization</th>
	  <th>Last Login</th>
      <th></th>
      <th></th>
    </tr>
	<% @staffs.each do |staff| %>
		<tr <%= @numRows == 0 ? "class='shaded'" : "" %> >
			<% @numRows = @numRows == 0 ? @numRows + 1 : 0 %>
			<%= render :partial => "staffs/staff_table_row", :locals => { :staff => staff } %>
		</tr>
	<% end %>
  </table>

  <br />
  <%= link_to 'New User', "/staffs/sign_up" if can? :create, Staff %>
</div>