<div id="inside_container" class="inside_container"><h1>My Notification Preferences</h1>
<table>
<tr>
	<th>Report Type:</th><th>How often to<br> receive reports:</th><div id="scopeheader"><th>What locations to<br> receive reports for:</th></div></tr>
</tr>
<%= form_tag staff_update_preferences_path(current_staff) do %>
	<% @notification_preferences.each do |notification_preference| %>
		<%= render :partial => "notification_preference", :object => notification_preference %>			
	<% end %>
<tr>
<td>
<%= submit_tag "Update" %>
</td>
</tr>
<% end %>	
</table></div>