.bundle
Gemfile.lock
db/*.sqlite3
log/*.log
tmp/**/*

/.project
/nbproject/private/private.properties
/nbproject/private/rake-d.txt
/nbproject/project.properties
/nbproject/project.xml
/nbproject/private/private.xml
/nbproject/private/config.properties
/config/database.yml
/script/ftp_students.txt
/nbproject/configs/production.properties
/nbproject/private/configs/production.properties
/script/shradar.csv
/script/shradarwdraw.csv
/script/import.log
/script/ftp_cmds
/script/ftp_cmd.bat
/script/srcrsect.csv
/script/srenroll.csv
/db/complete_data.yml
/script/courses_import.log
/script/enrollments_import.log
/routes.out
/app/views/organizations/orgs/_home.html - Copy.erb