.bundle
Gemfile.lock
db/*.sqlite3
log/*.log
tmp/**/*

/.project
/nbproject/private/private.properties
/nbproject/private/rake-d.txt
/nbproject/project.properties
/nbproject/project.xml
/nbproject/private/private.xml
/nbproject/private/config.properties
/config/database.yml
/script/ftp_students.txt
/script/load_students.rb