<div id="inside_container" class="inside_container">
<div class="form_header"><%= t :new_staff %></div>

	<%= render "form", :locals => { resource => resource} %>

</div>
<%= render :partial => "devise/shared/links" %>
