<% task_assignments.each do |assignment| %>

  <% if num_rows == 0 %>
    <% num_rows = num_rows + 1 %>
    <tr class="shaded">
    <% else %>
      <% num_rows = 0 %>
    <tr>
    <% end %>

    <td><%= assignment.task.title %></td>
    <td><%= assignment.due_time %></td>
    <td><%= assignment.done_time %></td>
    <td><%= "#{assignment.shift.staff.first_name} #{assignment.shift.staff.last_name.first}." %></td>
  </tr>
<% end %>
</tr>