<h1>To Do List for <%= "#{current_staff.first_name} #{current_staff.last_name}" %></h1>



<% if !current_staff.on_duty? %>
  <h3>You must go on duty to be assigned tasks</h3>
<% else %>
  <% if @task_assignments != nil %>
    <% if @task_assignments.length > 0 %>
      <table>
        <tr>
          <th>Title</th>
          <th>Note</th>
          <th>Done</th>
        </tr>
        <% @task_assignments.each do |ta| %>
          <tr>
            <td><%= ta.task.title %></td>
            <td><%= ta.task.info %></td>
            <td><%= ta.done_string %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h3>You have no tasks to complete during your shift</h3>
    <% end %>
  <% else %>
    <h3>You have no tasks to complete during your shift</h3>
  <% end %>
<% end %>
