

    <%= form_tag 'update_list', :remote => true%>


  <%=text_field_tag 'first_name', '', :autocomplete => search_autocomplete_student_first_name_path %> 
  
  <input id="options" type="submit" value="Select" onsubmit="first_name.value = ''">


</form>
<p><br /></p>
<form action="<%= request.query_string %>">

  <input onclick=""; type="submit" value="Done" />


</form>

