

    <%= form_tag :remote => true%>


  
<%= render '/search/autocomplete_full_name' %>


  <input id="options" type="submit" value="Select" onsubmit="first_name.value = ''">


</form>
<p><br /></p>
<form action="<%= request.query_string %>">

  <input onclick=""; type="submit" value="Done" />


</form>

