<script type="text/javascript">
function handletext(what){
	if (document.createTextNode){
		var mytext=document.createTextNode(what)
		document.getElementById("found").appendChild(mytext)
		var theNewParagraph = document.createElement('p');
		document.getElementById("found").appendChild(theNewParagraph);
		
	}
}
</script>

<div id="found"></div>

<%= render '/search/form' %>


