<h1>Student Search</h1>


<script type="text/javascript">
function handletext(what){
	if (document.createTextNode){
		var theNewParagraph = document.createElement('p');
		document.getElementById("found").appendChild(theNewParagraph);
		var mytext=document.createTextNode(what)
		theNewParagraph.appendChild(mytext)
	}
}


</script>

<div id="found">
<% if session[:incident_report].reported_infractions != nil %>
	<% session[:incident_report].reported_infractions.each do |r| %>
		<p><%= r.participant.first_name %> <%= r.participant.last_name %></p>
	<% end %>
<% end %>

</div>

<%= render '/search/form' %>




