<h1>Student Search</h1>

<%= form_tag do %>
  
 
<% end %>
<%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js', 'rails.js'  %>
<script type="text/javascript">
function handletext(what){
	if (document.createTextNode){
		var mytext=document.createTextNode(what)
		document.getElementById("found").appendChild(mytext)
		var theNewParagraph = document.createElement('p');
		document.getElementById("found").appendChild(theNewParagraph);
		
	}
}
</script>

<form action="/search/go_to_student">
  <%= render '/search/autocomplete_full_name' %>
  <input onclick=""; type="submit" value="Find Student" />


</form>



