<h1>Student Search</h1>


<%= javascript_include_tag 'jquery-1.4.4.min.js', 'jquery-ui-1.8.9.custom.min.js', 'autocomplete-rails.js', 'rails.js'  %>


<form action="/search/go_to_student">
  <%= render '/search/autocomplete_full_name' %>
  <input onclick=""; type="submit" value="Find Student" />


</form>



