<h1>Student Search</h1>

<!--Creates a form that will route to search/go_to_student method upon submit-->
<form action="/search/go_to_student">

  <!--Calls the autocomplete code to create a textfield-->
  <%= render '/search/autocomplete_full_name' %>
  
  <!--Creates a button that called Find Student-->
  <input onclick=""; type="submit" value="Find Student" />


</form>



