
<%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/incident_reports/update_participant_list" } %>
   
  <div id="s-i-form">
    <%= render :partial => "student_infractions", :locals => { :ir => @report } %>
  </div>
  
  <%= render :partial => "reports/report_generic" %>





