<div class="help" >
Add students involved in incident
<br/>
</div>
<%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/reports/add_participant" } %>
<%= render :partial => "reports/report_generic" %>





