<tr>
  <th>Tag</th>
  <th>Approach Date</th>
  <th>Time</th>
  <th>Building Name</th>
  <th>Specific Loc.</th>
  <th>Submitter</th>
  <th></th>

  <% if can? :edit, IncidentReport %>
    <td></td>
  <% end %>
  <% if can? :destroy, IncidentReport %>
    <td></td>
  <% end %>
</tr>