<div id="WebApp">
    <div id="iHeader" style="background-color: #b22222">
        <a href="#" id="waBackButton">Back</a>
        <span id="waHeadTitle">Incident Report</span>
    </div>
    <div id="iGroup">
        <div class="iLayer" id="waHome" title="Home">
            <form>
                <div class="iPanel">
                    <fieldset>
                        <legend>
                            Time:
                        </legend>
						<ul>
							<li>
								<input type="text" name="StudentTextBox" placeholder="Student Name" />
							</li>
						</ul>
                    </fieldset>
                </div>
            </form>
        </div>
    </div>
</div>
