<div class="report-listing-header"><h1>Incident Reports</h1></div>
<% if @reports.length > 0 %>
<% num_rows=0 %>	
			<%= render :partial => "reports/index_generic", :locals => { :reports => reports, :num_rows=>num_rows} %>
	<% else %>
		<p> No Incident Reports </p>
	<% end %>
<div class="new_report_link">
<%= link_to 'New Incident Report', '/incident_reports/new_report' %>
</div>