<div class="report-listing-header"><h1>Incident Reports</h1></div>

<%= render :partial => "reports/index_generic", :locals => { :reports => reports } %>

<div class="new_report_link">
<%= link_to 'New Incident Report', '/incident_reports/new_report' %>
</div>
