<h1>Listing Incident Reports</h1>

<table>
  <%= render :partial => "/incident_reports/incident_report_table_row_labels" %>
  

  
<% @incident_reports.each do |incident_report| %>
  <% if incident_report.submitted? == true %>
  	<%= render :partial => "/incident_reports/incident_report_table_row", :locals => { :incident_report => incident_report, :num_rows => @num_rows } %>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Incident Report', '/incident_reports/new_report' %>
