<div id="inside_container" class="inside_container">
<div class="form_header"><%= t :student_index %></div>

  <%= render :partial => "full_info_list", :locals => { :students => @students} %>


<br />
</div>