<h1>Students</h1>

  <%= render :partial => "/students/selectable_student_full_info_list", :locals => { :students => @students} %>


<br />

<p>
<%= link_to 'Back', students_search_students_path %>
</p>