<h1>Students</h1>

  <%= render :partial => "/students/selectable_student_full_info_list", :locals => { :students => @students} %>

<p>
	Showing <%= @num_results %> of <%= @num_results %> results.
</p>