<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @first_name %> <%= @last_name %>, an Incident Report has been submitted.</p>
    <p>
      To view the report follow this link: <a href="<%= @report_url %>">Incident Report</a><br/>
    </p>
  </body>
</html>