body {
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
}

a {
    color: #CC3333;
}

td {
    padding: 5px;
}

#container {
    width: 120%;
    height: 140%;
    background-color: #FFF;
    border: solid 1px black;
    margin-left: -10%;
}

#inside_container {
    margin: 0 auto;
    background-color: #FFF;
    padding: 5px;
    margin-top: 0px;

}
.participant_detail {
    display: block !important;
}

.report_title {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}