<%= form_tag(target,:id=>"searchform", :method => :get, :remote => true, :format=>"js" ) do %>
  <fieldset>

		<ul>
			<li>
				<%= render :partial => 'participants/autocomplete_full_name' %>
			</li>
		</ul>
  
        <%= submit_tag "Add", :class =>"iPush iBClassic", :style =>"width:100%"%>

  </fieldset>
<% end %>