<%= form_tag(target,:id=>"searchform", :method => :get, :remote => true, :format=>"js" ) do %>
  <fieldset>
	<legend>
        	Students:
        </legend>
	  <ul>
		<li>
			<%= autocomplete_field_tag 'full_name', '', autocomplete_participant_full_name_participants_path, :id_element => '#participant_id' %>  
            <%= hidden_field :participant, :id %>
  		</li>
  	  </ul>
  
         <%= submit_tag "Add", :class =>"iPush iBClassic", :style =>"width:100%"%>

  </fieldset>
<% end %>

