<fieldset>
<ul><li>
<%= label_tag  "Birthday: #{participant.birthday}", %>
</li>
<li>
<%= label_tag "Room : #{participant.room_number} #{Building.find(participant.building_id).name}" %>
</li>
<li>
<%= label_tag "Emergency Contact: #{participant.emContact}" %>
</li></ul></fieldset> 
