<fieldset>
<ul>
<li>
<%= "Birthday: #{participant.birthday}" %>
</li>
<li>
<%= "Room : #{participant.room_number} #{Building.find(participant.building_id).name}" %>
</li>
<li>
<%= "Emergency Contact: #{participant.emergency_contact_name} @ #{participant.emContact}" %>
</li>
</ul>
</fieldset> 
