<table>
  <tr>
    <th></th>
    <th></th>
    <%if can? :read, Participant, :student_id %>
      <th>Student ID</th>
    <% end %>
    <th>First Name</th>
    <th>MI</th>
    <th>Last Name</th>
    <th>Building</th>
    <th>Room #</th>
    <th>Phone</th>
    <th>Email </th>
    <th>Birthday</th>
    <th></th>
    <th></th>
  </tr>
  <% num_rows = 0 %>
  <% participants.each do |p| %>

    <% if num_rows == 0 %>
      <% num_rows = num_rows + 1 %>
      <tr class="shaded">
      <% else %>
        <% num_rows = 0 %>
      <tr>
      <% end %>
      <%= render :partial => "/participants/selectable_full_info", :locals => { :participant => p} %>
	  </tr>
    <% end %>
</table>