<div id="inside_container" class="inside_container"><h1>Editing <%= "#{@participant.first_name} #{@participant.middle_initial} #{@participant.last_name}" %></h1>

<%= render 'form' %>
<%= link_to 'Show', @participant %> 
</div>