<p id="notice"><%= notice %></p>

<p>
  <b>Time:</b>
  <%= @student_infraction.time %>
</p>


<%= link_to 'Edit', edit_student_infraction_path(@student_infraction) %> |
<%= link_to 'Back', student_infractions_path %>
