<html>
    <head>
        <title>Radar</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
        <link rel="stylesheet" href="WebApp/Design/Render.css" />
        <script type="text/javascript" src="WebApp/Action/Logic.js">
        </script>
    </head>
    <body>
        <div id="WebApp">
            <div id="iHeader" style="background-color: #b22222">
                <a href="#" id="waBackButton">Back</a>
                <span id="waHeadTitle">Incident Report</span>
            </div>
            <div id="iGroup">
                <div class="iLayer" id="waHome" title="Home">
                    <form>
                        <div class="iPanel">
                            <fieldset>
                                <legend>
                                    Time:
                                </legend>
                                <ul>
                                    <li>
                                        <input type="text" name="TimeTextBox" placeholder="This will be the current time!!!" />
                                    </li>
                                </ul>
                                <legend>
                                    Building:
                                </legend>
                                <ul>
                                    <li class="iRadio" value="autoback">
                                        Select Building<% @buildings.each do |b| %>
                                        <label>
                                            <input type="radio" name="building set" value=<%= b.id %> <%if b.id == 16 %>checked="checked"<%end %>/><%= b.name %>
                                        </label><% end %>
                                    </li>
                                </ul>
                                <legend>
                                    Room #:
                                </legend>
                                <ul>
                                    <li>
                                        <input type="text" name="RoomNumber" placeholder="Misbehaving Students Room #" />
                                    </li>
                                </ul>
                                <legend>
                                    Students:
                                </legend>
                                <p>
                                    <a href="#_Next" class="iPush iBClassic" style="width:100%">Add Student</a>
                                </p>
                                <div class="iLayer" id="waNext" title="Students">
                                	<form>
                                    <div class="iPanel">
                                        
                                        <legend>
                                            Student Search:
                                        </legend>
                                        <ul>
                                            <li>
                                                <input type="text" name="StudentTextBox" placeholder="Student Name" />
                                            </li>
                                        </ul>
										
                                    </div>
									</form>
                                </div>
                                </ul>
                                <legend>
                                    Annotation: 
                                </legend>
                                <ul>
                                    <li>
                                        <textarea id="incident_report_annotation" name="annotation" rows="5">
                                        </textarea>
                                    </li>
                                </ul>
								
                                <p>
                                    <a href="javascript:void(0)" class="iPush iBClassic" style="width:100%">Save</a>
                                </p>
                                <p>
                                    <a href="javascript:void(0)" class="iPush iBWarn" style="width:100%">Submit</a>
                                </p>
                            </fieldset>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
