<h1>Radar</h1>
<p><a href = "http://localhost:3000/students">Students</a></p>
<p><a href = "http://localhost:3000/reports">Reports</a></p>
<p><a href = "http://localhost:3000/areas">Areas</a></p>
<p><a href = "http://localhost:3000/buildings">Buildings</a></p>
