<%= form_tag('/shifts/end_shift', :method => :post , :remote => true) do %>
<table style = "width: 150px;" border="0">
		<tr>
				<td style = "width: 40px;"><%=image_submit_tag("go_off_duty_sign.png", :size=> "35x35", :title=>"Go Off Duty")%> </td> 
				<td style = "width: 110px;"><b> Go Off Duty </b></td>
				</tr>
			</table>
<% end %>