<%= form_tag('/shifts/start_shift', :method => :post , :remote => true, :format=>"js" ) do %>
	<table style = "width: 150px;" border="0">
	  <tr>
	    <td style = "width: 40px;"><%=image_submit_tag("go_on_duty_sign.png", :size=> "35x35", :title=>"Go On Duty")%> </td> 
	    <td style = "width: 110px;"><b> Go On Duty </b></td>
	  </tr>
	</table>	
<% end %>