<div id="inside_container" class="inside_container"><h1>Summarize Shift and Go Off Duty</h1>
  <b>You must write a <u>Summary</u> and click the <u>Update Shift</u> button in order to finish going off duty.</b><br />
  <span class="error-label"><%= "You have #{total_incomplete_task_assignments} incomplete tasks." if total_incomplete_task_assignments > 0 %></span>
  <br />
  <br />
  <%= render 'form' %>
</div>
