<div id="inside_container" class="inside_container"><h1>Shifts</h1>

<%= render :partial => "shifts/index_generic", :locals => { :shifts => shifts } %>
<div class="new_shift_link">
<%= link_to 'New Shift', new_shift_path %>
<div class="edit_link">
</div>