<div id="building_index">
  <table width="100%">
    <th style="width:25%">Name</th>
    <th style="width:10%">Abbreviation</th>
    <th style="width:10%">Is Residence</th>
    <th style="width:25%">Area</th>
    <th></th>
  </table>
  <% is_shaded = 0 %>
  <%= render :partial => 'new_generic', :locals => {:is_shaded => is_shaded}%>
  <% buildings.each do |building| %>
    <% if is_shaded == 0 %>
      <% row_style = "class='shaded'" %>
      <% is_shaded = 1 %>
    <% else %>
      <% row_style = "" %>
      <% is_shaded = 0 %>
    <% end %>
    <%= render :partial => 'index_row_generic', :locals => {:building => building, :row_style => row_style} %>
  <% end %>
</div>