<%= if Rails.env.test?
javascript_include_tag "jq_cookie"
end %>

<div id="inside_container" class="inside_container">
  <div class="form_header"><%= t :area_list %></div>
  <%= render :partial => 'index_generic', :locals => {:unassigned_buildings => unassigned_buildings} %>
  <br />
</div>