<div class="help" >
Add students reporting problem for Maintenance to contact for follow-up
<br/>
<div>
<%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/reports/add_participant" } %>
<div id="new-part-div">
</div>
<%= render :partial => "reports/report_generic" %>

