<div id="inside_container" class="inside_container"><h1>Maintenance Requests</h1>
<% if @reports.length > 0 %>
<% num_rows=0 %>	
			<%= render :partial => "reports/index_generic", :locals => { :reports => reports, :num_rows=>num_rows} %>
	<% else %>
		<p> No Maintenance Requests </p>
	<% end %>
<div class="new_report_link">
<%= link_to 'New Maintenance Request', '/maintenance_reports/new' if can? :create, MaintenanceReport %>
</div>
</div>