<h1>Maintenance Request <%= @report.tag %> </h1>
    <%= render :partial => "reports/show_relationships", :locals => { :title => "Interested Students" } %>
  	<%= render :partial => "reports/show_generic" %>
</p>

<%if Authorize.not_admin_assistant_authorize(current_staff) && !(Authorize.ra_authorize(current_staff) && @report.submitted)%>
<%= link_to 'Edit', edit_report_path(@report) %>
<%end%>

