<% if(type == "edit") %>
<% elsif(type == "search") %>
<% report_type = ReportType.find_by_name("IncidentReport") %>
	   <div class="field">
    <%= label_tag do -%>

	    <%= t "#{report_type.name}.reasons" %>:
		
	<% end %>
	</div>
	<%= select_tag "infaction_id", options_from_collection_for_select(report_type.associated_reasons, "id", "description"), :multiple => true, :class=> 'form_input' %>
<% elsif(type == "index") %>
<% elsif(type == "show") %>
<% end %>