<% if(type == "edit") %>
<% elsif(type == "search") %>
<% elsif(type == "index") %>
<% elsif(type == "show") %>

  <div class="field">
    <%= label_tag  do -%>
	    <%= t :submitted %>:
	<% end -%>
    <%= @report.submitted %>
  </div>   

<% end %>