<div id="inside_container" class="inside_container">
<h1>Showing Annotation <%= @annotation.id %></h1>



<p>
  <b>Annotation:</b>
  <%= @annotation.text %>
</p>


<%= link_to 'Edit', edit_annotation_path(@annotation) %>
</div>