<div id="inside_container" class="inside_container"><h1>Editing Reported Infraction <%= @report_participant_relationship.id %></h1>

<%= render 'form' %>

<%= link_to 'Show', @report_participant_relationship %>
</div>