<h1>Editing Reported Infraction <%= @report_participant_relationship.id %></h1>

<%= render 'form' %>

<%= link_to 'Show', @report_participant_relationship %> |
<%= link_to 'Back', report_participant_relationship_path %>
