body {
    background:#ffffff url('background-tile2.jpg');
    font-family: Verdana, Helvetica, Arial;
    font-size: 12px;
}

a img {
    border: none;
}

a {
    color: #CC3333;
}

.menubar_link {
    color: #CC3333;
    font-size: 14pt;
}

.small_menubar_link {
    color: #CC3333;
    font-size: 11pt;
}


.heading_link {
    color: #595959;
    font-size:12pt;
}


.generic_show_report { width:50%; }

table {
    border-collapse:collapse
}

td {
    padding: 5px;
}

label { color: #595959;  font-weight: bold;  font-size:12px;}

.multi-select { height:150px; }

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.toggle-link  { color: black; font-weight: bold; }

.help {  width:80%; font-size:14px; margin:20px;}


.form_header  {   color: #595959; margin-left:40px; margin-top:10px; margin-bottom:10px; font-weight:bold; font-size:20px; } 
.form_header2  {  margin-left:40px; margin-top:0px; margin-bottom:10px;  font-size:16px; } 


#print_logo { display:none; }

#container {
    width: 1100px;
    margin: 0 auto;
    background-color: #FFF;
    padding: 00px 0px;
    border: solid 1px black;
    margin-top: 0px;
    box-shadow: 0px 0px 12px #878787;
    -webkit-box-shadow: 0px 0px 12px #878787;
    -moz-box-shadow: 0px 0px 12px #878787;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=3, offY=3, positive=true)
}

#inside_container {
    margin: 0 auto;
    background-color: #FFF;
    padding: 10px;
    margin-top: 0px;
    margin-left:20px;
    font-family: Arial;

}

.new_building_shade {   background-color:#99ccff; } 

.detail_label {   font-style: italic; }

.show_label {  font-weight: bold; }

.alert_label { color:#ff0000; }

.underage { color:#CC3333; }

.error-message {  display:block; font-size:10px; color:#aa0000; }

.validation-hide { display:none; font-size:10px; color:#aa0000; }

.error-label { font-weight:bold; font-size:14px; color:#ff0000; }

.inline  { display:inline; }

.small-label { color: #595959;  font-weight: bold;  font-size:12px;}

.tasks-by-shift {  margin-left: 40px; margin-top: 12px; }

.shift-task-list { margin-left: 20px;  margin-top: 6px; }

.link-report-viewed-true { color: #003333; }

.link-report-viewed-false { color: #CC3333; } 

.participant_detail {
    display: none; 

}

.relationship-checklist { font-size: 8pt; }

#forward_email {
    font-family: Arial;
    font-size: 1.188em;
    color: #B40D10;
}

#toolbar{
    width:90%;
    margin: 0 auto;
    padding: 0px 0px;
    margin-top: 20px;
    font-family: Arial;
    font-size: 1.188em;
    color: #B40D10;
    vertical-align: bottom;
    position: relative;

}

.fieldWithErrors {
    display: inline;
}

.report_title  {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 18px;
}

.report_date  {
    font-size: 18px;
    margin-top:8px;
}

.error_messages {
    width: 400px;
    border: 2px solid #CF0000;
    padding: 0px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    font-size: 12px;
    overflow:auto;

}


.error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #b40d10;
    color: #fff;
}

.error_messages p {
    margin: 8px 10px;
}

.error_messages ul {
    margin: 0;
}

.field {
    padding: 7px;
    color: #595959;
}

.shaded {
  background-color: #efefef;
}

.offset_field {
    padding: 12px;
    font-size:95%;
    font-weight:normal;
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #9cf;
  border: solid 1px #69f;
}

#flash_error, #flash_alert {
  background-color: #f99;
  border: solid 1px #C66;
}

.offset_label { font-size:96%; font-weight:600; }

.box_shadow{
    box-shadow: 3px 3px 4px #818181;
    -webkit-box-shadow: 3px 3px 4px #818181;
    -moz-box-shadow: 3px 3px 4px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=3, offY=3, positive=true);
}

.menu, .forward_notice {
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color: #595959;
}
.menu ul{
    background:#f1f1f1;
    height:45px;
    list-style:none;
    margin:0;
    padding:0px;
}
.menu li{
    float:left;
    padding:0px;
}
.menu li a{

    color:#595959;
    font-weight:bold;
    display:block;
    font-weight:normal;
    line-height:30px;
    margin:0px;
    padding:11px 11px;
    text-align:center;
    text-decoration:none;
}

.menu li a:hover, .menu ul li:hover a{
    background:#5a99bd;
    color:#FFFFFF;
    text-decoration:none;
}
.menu li ul{
    background:#5a99bd;
    color:#fff;
    font-weight:normal;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size: 12px;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:200px;
    z-index:200;
    /*top:1em;
		/*left:0;*/
}
.menu li:hover ul{
    display:block;
}
.menu li li {
    background:url('sub_sep.gif') bottom left no-repeat;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:200px;
}
.menu li:hover li a{
    background:none;

}
.menu li ul a{
    display:block;
    height:35px;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background:#b40d10 url('hover_sub.gif') center left no-repeat;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}
.menu p{
    clear:left;
}	

div.common-reason-detail {
    margin-left: 8px;
    margin-top: 4px; 
    margin-bottom: 0px; 
    display: none;
}

div.common-reason {
    margin-left: 8px;
    margin-top: 4px; 
    margin-bottom: 0px;
}

div.reason {
    margin-left: 8px;
    margin-top: 5px; 
    margin-bottom: 0px;
}


#page_title { font-weight:bold; }

.show-title { font-weight:bold; color: #595959; } 

#print_link { display:block; float:left }
#footer{
    background:#5A5A5A url("footer-bot.gif") repeat-x;
    color:#fff;
    height:1%;
    padding:10px;
}

.digg_pagination {
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size:12px;
    background: #FFFFFF;
    cursor: default;
    /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
.digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
.digg_pagination .current {
    font-weight: bold;
    background: #F1F1F1;
    color: #595959;
    border: 1px solid #5a99bd; }
.digg_pagination a {
    text-decoration: none;
    background: #5a99bd;
    color: #FFFFFF;
    border: 1px solid #595959; }
.digg_pagination a:hover, .digg_pagination a:focus {
    color: #FFFFFF;
    background: #b40d10;
    border-color: #000033; }
.digg_pagination .page_info {
    background: #F1F1F1;
    color: #595959;
    padding: 0.4em 0.6em;
    width: 26em;
    margin-bottom: 0.3em;
    text-align: center; }
.digg_pagination .page_info b {
    color: #FFFFFF;
    background: #5a99bd;
    padding: 0.1em 0.25em; }
.digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
* html .digg_pagination {
    height: 1%; }
*:first-child + html .digg_pagination {
    overflow: hidden; }
