<div id="inside_container" class="inside_container"><h1>Showing Infraction <%= @relationship_to_report.description %></h1>

<p>
  <b>Name:</b>
  <%= @relationship_to_report.description %>
</p>


<%= link_to 'Edit', edit_relationship_to_report_path(@relationship_to_report) %>
</div>