<h1>Showing Infraction <%= @relationship_to_report.id %></h1>

<p>
  <b>Name:</b>
  <%= @relationship_to_report.description %>
</p>


<%= link_to 'Edit', edit_relationship_to_report_path(@relationship_to_report) %> |
<%= link_to 'Back', relationship_to_reports_path %>
