
  <div style="text-align: right;">
    <%= link_to image_tag("/images/add_icon.gif", :id => "forward_img"), "javascript:void(0)",
        :onclick => "plusMinusToggle('interested_party_list_div', 'forward_img');" if can? :forward, @report %>
      Forward this Report
  </div>
  <div id="interested_party_list_div" style="display:none;">
	<%= render :partial=>"reports/interested_party_list", :locals=>{ :report => @report} %>
  </div>
  
  