<div class="help" >
  <%= t "#{@report.class.name}.help" %>
<br/>
</div>
<%= render :partial => "participants/autocomplete_full_name_form", 
           :locals => { :report => @report, :target => add_participant_reports_path } %>
<div id="new-part-div">
</div>
<%= render :partial => "reports/report_generic" %>

