<div class="help" >
  <%= t "#{current_staff.organization}.#{params[:controller]}.help" %>
<br/>
</div>
<%= render :partial => "search/autocomplete_full_name", :locals => { :target => "/reports/add_participant" } %>
<div id="new-part-div">
</div>
<%= render :partial => "reports/#{@report.report_type.name.downcase}_generic" %>

