<table>
    <tr>
        <td valign=top>
            <%= form_tag 'index_search', :remote => true %>
                <table>
                    <% @report_type.fields("search").each do |field| %>
                            <tr>
                                <td valign=top>
                                    <%= render :partial => "reports/fields/#{field.name}", :locals => {:type => "search"} %>
                                </td>
                            </tr>
                    <% end %>
                    <tr>
                        <td valign=top>
                            <b>Approached Before:</b><br />
                            <input type="text" id="submitted_before" name="submitted_before"></input>	
                            <br />
                            <b>Approached After:</b><br />
                            <input type="text" id="submitted_after" name="submitted_after"></input>	
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <%= hidden_field_tag 'type', @report_type.name %>
                            <input id="submit" name="submit" type="submit" value="Update" />
                        </td>
                    </tr>
                </table>    
            </form>
        </td>
        <td valign=top>
            <br />
            <div id="results">
                <%= render :partial => 'reports/report_index_body', :locals => { :reports => @reports, :num_rows => 0} %>
            </div>
            <br />
        </td>
    </tr>    
</table>

<script type="text/javascript">
        AnyTime.picker( "submitted_before",
            { format: "%b %D, %z  %I:%i%p", firstDOW: 0 } );
        AnyTime.picker( "submitted_after",
            { format: "%b %D, %z  %I:%i%p", firstDOW: 0 } );
</script>