<% participant_count = 0 %>
<table>
    <tbody id="s-i-form">
    <% participants.each do |participant| %>
		<% if participant_count%ReportsHelper::REPORT_COLUMNS == 0 %>
			<tr  id=<%= "#{(participant_count/ReportsHelper::REPORT_COLUMNS).floor}" %> >
		<% end %>   
		<%= render :partial => "reports/participant_in_report",
				   :locals => { :report_type => report_type, 
				   				:participant_reasons =>  report.contact_reason_ids_for(participant), 
				   				:participant => participant }  %>

		<% participant_count = participant_count + 1 %>
		<% if participant_count%ReportsHelper::REPORT_COLUMNS == 0 %>
			</tr>
		<% end %> 
    <% end %>
  </tbody>
</table>
