<tr>
  <th>Approach Date</th>
  <th>Time</th>
  <th>Type</th>
  <th>Area</th>
  <th>Building Name</th>
  <th>Specific Location</th>
  <th>Submitter</th>
  <th>Tag</th>

  <% if can? :edit, Report %>
    <td></td>
  <% end %>
  <% if can? :destroy, Report %>
    <td></td>
  <% end %>
</tr>