

<div class="relationship-checklist">
<% if report.class.name == "IncidentReport" %>
<%= link_to image_tag("/images/add_icon.gif", :id => "#{participant.id}-img"), "javascript:void(0)",  
                     :onclick => "plusMinusToggle('#{participant.id}-infractions', '#{participant.id}-img');" %>
 
  	    <b>Infractions:</b>
  	<div id="<%= participant.id %>-infractions" style="display: none;">
  			<% infractions = RelationshipToReport.all %>
  			<% infractions.each do |infraction| %>
  		  		<div style="margin-left: 8px;margin-top: 4px; margin-bottom: 0px;" >
  						<%= check_box_tag "#{participant.id}[#{infraction.id}]", 
  				       infraction.description,
  				       report.get_specific_report_student_relationship(participant.id, infraction.id) != nil%>
  				    <%= label_tag infraction.description %>			
  				
  				  </div>
  			<% end %>
  	</div>
<% end %>
</div>
