<div class="generic_show_report" >
    <br/>
    <% @report.report_type.fields("show").each do |field| %>
	  <div class="field">
        <%= render :partial => "reports/fields/#{field.name}", :locals => {:type => "show", :report => @report} %>
	  </div>
    <% end %>
</div>
