<div class="field">
  	    <% ir.report_participant_relationships.sort! { |a, b|  a.participant.last_name <=> b.participant.last_name } %>
  	    <% fyi = RelationshipToReport.fyi %>

  	    <% ir.report_participant_relationships.each do | relationship | %>
  	    	<% if relationship.participant.id != @currentParticipantID %>
<br />
   					<% @currentParticipantID = relationship.participant.id %>
   					&nbsp;&nbsp;&nbsp; 
  
   					<%= render :partial => "relationship_to_report", :locals => { :report => ir, :relationship => relationship } %>
  		
  		<br />
  	
  	   			<%= render :partial => "report_relationship_checklist", :locals => { :report => ir, :relationship => relationship } %>
  	   		<% end %>
  	   	<% end %>
 
 </div>
 
