<h1>Listing Reports</h1>

<%= render :partial => "reports/index_generic", :locals => { :reports => reports } %>
<div class="new_report_link">
<%= link_to 'New Report', new_report_path %>
<div class="edit_link">
