<div id="inside_container" class="inside_container">
  <div class="form_header">
      <%= t "report_search" %>
	</div>
  <%= render :partial => "reports/index_generic", :locals => { :reports => @reports, :r_ids => r_ids } %>
</div>
