<div id="inside_container" class="inside_container"><h1>All Reports</h1>
	<% if @reports.length > 0 %>	
		<%= render :partial => "reports/index_generic", :locals => { :reports => @reports } %>
	<% else %>
		<p> No Reports </p>
	<% end %>
<div class="new_report_link">
<%= link_to 'New Report', new_report_path %>
<div class="edit_link">
</div>
</div>